{% assign localPage = page.path | split: "/" | last %}{% include fragment-pagebegin.html lang=include.lang %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  <h2>{{site.data.pages[localPage].titlelang[include.lang] | escape_once}}</h2>
  {% if site.data.languages.defLang != include.lang %}
  <p style="border:var(--translation-box-border);background-color:var(--translation-background-color);padding: 5px 5px 5px 5px;">
  {% if site.data.pages[localPage].translated[include.lang] %}
  {{site.data.stringsBase[include.lang]['TRANS_HLP'] | markdownify}}
  {% else %}
  {{site.data.stringsBase[include.lang]['NO_TRANS'] | markdownify}}
  {% endif %}
  </p>
  {% endif %}
  {% if localPage == 'index.html' %}
  {% include fragment-igTable.html lang=include.lang %}
  {% endif %}
  {% include fragment-pageTable.html lang=include.lang %}
  {% assign path = page.path | split: '.html' %}
  {% include {{path}}.xml %}
</div>
{% include fragment-pageend.html lang=include.lang %}
